/notes
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/backups
!/storage/app/contentful/*
!/storage/app/docs/*
/storage/app/google/*
!/storage/app/google/dummy.json
/resources/views/theme
/resources/temp/
/resources/temp/*
/vendor
/.idea
/.vagrant
/laradock/data
/laradock/vendor/*
laradock/data
laradock/vendor
Homestead.json
Homestead.yaml
npm-debug.log
.env
.DS_Store
/app/Modules
/storage/app/modules.json
terraform/do/.terraform/plugins/darwin_amd64/lock.json
terraform/do/terraform.tfstate
terraform/do/terraform.tfstate.backup
terraform/do/.terraform.tfstate.lock.info
terraform/do/terraform.tfvars
terraform/do/terraform.tfvars
terraform/do/terraform.tfvars
