<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Shards Dashboard Lite - Free Bootstrap Admin Template – DesignRevision</title>
    <meta name="description"
          content="A high-quality &amp; free Bootstrap admin dashboard template pack that comes with lots of templates and components.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.0.0" href="styles/shards-dashboards.1.0.0.min.css">
    <link rel="stylesheet" href="styles/extras.1.0.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <style>
        td {
            line-height:28px;vertical-align: middle;
        }

        nav li.page-item {
            box-shadow:none !important;
            border:1px solid #ddd;
            border-right:0px;
        }
        nav li.page-item:last-of-type {
            border-right:1px solid #ddd;
        }

        nav li.page-item.active a {
            background:#555 !important;
        }

        nav li.page-item.active {
            border-color:#555;
        }

        nav li.page-item:hover a {
            color:#000 !important;
        }

        nav li.page-item.active:hover a {
            color:#fff !important;
        }

        .page-item a {
            color:#888;
        }

        table .badge-pill {
            min-width:80px;
        }
    </style>
</head>
<body class="h-100">
<div class="color-switcher animated" style="display:none;">
    <h5>Accent Color</h5>
    <ul class="accent-colors">
        <li class="accent-primary active" data-color="primary">
            <i class="material-icons">check</i>
        </li>
        <li class="accent-secondary" data-color="secondary">
            <i class="material-icons">check</i>
        </li>
        <li class="accent-success" data-color="success">
            <i class="material-icons">check</i>
        </li>
        <li class="accent-info" data-color="info">
            <i class="material-icons">check</i>
        </li>
        <li class="accent-warning" data-color="warning">
            <i class="material-icons">check</i>
        </li>
        <li class="accent-danger" data-color="danger">
            <i class="material-icons">check</i>
        </li>
    </ul>
    <div class="actions mb-4">
        <a class="mb-2 btn btn-sm btn-primary w-100 d-table mx-auto extra-action"
           href="https://designrevision.com/downloads/shards-dashboard-lite/">
            <i class="material-icons">cloud</i> Download</a>
        <a class="mb-2 btn btn-sm btn-white w-100 d-table mx-auto extra-action"
           href="https://designrevision.com/docs/shards-dashboard-lite">
            <i class="material-icons">book</i> Documentation</a>
    </div>
    <div class="social-wrapper">
        <div class="social-actions">
            <h5 class="my-2">Help us Grow</h5>
            <div class="inner-wrapper">
                <a class="github-button" href="https://github.com/DesignRevision/shards-dashboard"
                   data-icon="octicon-star" data-show-count="true"
                   aria-label="Star DesignRevision/shards-dashboard on GitHub">Star</a>
                <!-- <iframe style="width: 91px; height: 21px;"src="https://yvoschaap.com/producthunt/counter.html#href=https%3A%2F%2Fwww.producthunt.com%2Fr%2Fp%2F112998&layout=wide" width="56" height="65" scrolling="no" frameborder="0" allowtransparency="true"></iframe> -->
            </div>
        </div>
        <div id="social-share" data-url="https://designrevision.com/downloads/shards-dashboard-lite/"
             data-text="🔥 Check out Shards Dashboard Lite, a free and beautiful Bootstrap 4 admin dashboard template!"
             data-title="share"></div>
        <div class="loading-overlay">
            <div class="spinner"></div>
        </div>
    </div>
    <div class="close">
        <i class="material-icons">close</i>
    </div>
</div>
<div class="color-switcher-toggle animated pulse infinite" style="display:none;">
    <i class="material-icons">settings</i>
</div>
<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <aside class="main-sidebar col-12 col-md-3 col-lg-2 px-0">
            <div class="main-navbar">
                <nav class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0">
                    <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
                        <div class="d-table m-auto">
                            <img id="main-logo" class="d-inline-block align-top mr-1"
                                 style="max-width: 30px;margin-top:-1px;margin-left:-10px;"
                                 src="images/startup-engine-logo.png" alt="Startup Engine">
                            <span class="d-none d-md-inline ml-1" style="vertical-align:middle;">Startup Engine</span>
                        </div>
                    </a>
                    <a class="toggle-sidebar d-sm-inline d-md-none d-lg-none">
                        <i class="material-icons">&#xE5C4;</i>
                    </a>
                </nav>
            </div>
            <form action="#" class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none">
                <div class="input-group input-group-seamless ml-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-search"></i>
                        </div>
                    </div>
                    <input class="navbar-search form-control" type="text" placeholder="Search for something..."
                           aria-label="Search"></div>
            </form>
            <div class="nav-wrapper">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="material-icons">view_module</i>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pages.html">
                            <i class="material-icons">library_books</i>
                            <span>Pages</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="content.html">
                            <i class="material-icons">notes</i>
                            <span>Content</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="products.html">
                            <i class="material-icons">shopping_basket</i>
                            <span>Products</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="analytics.html">
                            <i class="material-icons">bar_chart</i>
                            <span>Analytics</span>
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link " href="users.html">
                            <i class="material-icons">people</i>
                            <span>Users</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="settings.html">
                            <i class="material-icons">settings</i>
                            <span>Settings</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <nav class="navbar align-items-stretch navbar-light flex-md-nowrap p-0">
                    <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
                        <div class="input-group input-group-seamless ml-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-search"></i>
                                </div>
                            </div>
                            <input class="navbar-search form-control" type="text" placeholder="Search for something..."
                                   aria-label="Search"></div>
                    </form>
                    <ul class="navbar-nav border-left flex-row ">
                        <li class="nav-item border-right dropdown notifications">
                            <a class="nav-link nav-link-icon text-center" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="nav-link-icon__wrapper">
                                    <i class="material-icons">&#xE7F4;</i>
                                    <span class="badge badge-pill badge-danger">2</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">
                                    <div class="notification__icon-wrapper">
                                        <div class="notification__icon">
                                            <i class="material-icons">&#xE6E1;</i>
                                        </div>
                                    </div>
                                    <div class="notification__content">
                                        <span class="notification__category">Analytics</span>
                                        <p>Your website’s active users count increased by
                                            <span class="text-success text-semibold">28%</span> in the last week. Great
                                            job!</p>
                                    </div>
                                </a>
                                <a class="dropdown-item" href="#">
                                    <div class="notification__icon-wrapper">
                                        <div class="notification__icon">
                                            <i class="material-icons">&#xE8D1;</i>
                                        </div>
                                    </div>
                                    <div class="notification__content">
                                        <span class="notification__category">Sales</span>
                                        <p>Last week your store’s sales count decreased by
                                            <span class="text-danger text-semibold">5.52%</span>. It could have been
                                            worse!</p>
                                    </div>
                                </a>
                                <a class="dropdown-item notification__all text-center" href="#"> View all
                                    Notifications </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="user-avatar rounded-circle mr-2" src="images/avatars/0.jpg"
                                     alt="User Avatar">
                                <span class="d-none d-md-inline-block">Sierra Brooks</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-small">
                                <a class="dropdown-item" href="user-profile-lite.html">
                                    <i class="material-icons">&#xE7FD;</i> Profile</a>
                                <a class="dropdown-item" href="components-blog-posts.html">
                                    <i class="material-icons">vertical_split</i> Blog Posts</a>
                                <a class="dropdown-item" href="add-new-post.html">
                                    <i class="material-icons">note_add</i> Add New Post</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#">
                                    <i class="material-icons text-danger">&#xE879;</i> Logout </a>
                            </div>
                        </li>
                    </ul>
                    <nav class="nav">
                        <a href="#"
                           class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
                           data-toggle="collapse" data-target=".header-navbar" aria-expanded="false"
                           aria-controls="header-navbar">
                            <i class="material-icons">&#xE5D2;</i>
                        </a>
                    </nav>
                </nav>
            </div>
            <!-- / .main-navbar -->
            <div class="main-content-container container-fluid px-4">
                <!-- Page Header -->
                <div class="page-header row no-gutters py-4">
                    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                        <h3 class="page-title">Users</h3>
                    </div>
                </div>
                <!-- End Page Header -->
                <!-- Default Light Table -->
                <div class="row">
                    <div class="col">
                        <div class="card card-small mb-4">
                            <div class="card-header border-bottom" align="right">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">Showing</span>
                                        </div>
                                        <select class="custom-select">
                                            <option selected disabled>All Users</option>
                                            <option value="1">Recently Active</option>
                                            <option value="2">Inactive</option>
                                            <option value="3">Banned</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="card-body p-0 pb-0 text-center">
                                <table class="table mb-0" style="text-align:center;">
                                    <thead class="bg-light">
                                    <tr>
                                        <th scope="col" class="border-0" style="text-align:left;padding-left:50px;">
                                            Name
                                        </th>
                                        <th scope="col" class="border-0" style="text-align:left;">E-mail</th>
                                        <th scope="col" class="border-0">Member Since</th>
                                        <th scope="col" class="border-0">Last Active</th>
                                        <th scope="col" class="border-0" style="text-align:center;width:140px;">
                                            Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td align="left" style="line-height:28px;vertical-align: middle;">
                                            <div style="background:url('https://images.unsplash.com/photo-1485178575877-1a13bf489dfe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9351ba6623ca1bdcfe632e88380aa4e6&auto=format&fit=crop&w=800&q=60');background-size:cover;background-position:center;border-radius:20px;height:30px;width:30px;display:inline-block;float:left;margin-right:10px;"></div>
                                            Kate O'Connor
                                        </td>
                                        <td align="left" style="line-height:28px;vertical-align: middle;"><span
                                                style="opacity:0.5;">kate@example.com</span></td>
                                        <td><span class="badge badge-pill badge-light">3 Months Ago</span></td>
                                        <td><span class="badge badge-pill badge-light">17 Minutes Ago</span></td>
                                        <td align="center" style="display:inline-block;">
                                            <div class="btn-group btn-group-sm" role="group"
                                                 aria-label="Table row actions">
                                                <a href="user.html" class="btn btn-white">
                                                    <i class="material-icons">search</i>
                                                </a>
                                                <a href="edit-user.html" class="btn btn-white">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button type="button" class="btn btn-white">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="line-height:28px;vertical-align: middle;">
                                            <div style="background:url('https://images.unsplash.com/photo-1512794268250-65fd4cd7441f?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b2b400fa197569057e1efb31cbeae596&auto=format&fit=crop&w=800&q=60');background-size:cover;background-position:center;border-radius:20px;height:30px;width:30px;display:inline-block;float:left;margin-right:10px;"></div>
                                            Matt Starkey
                                        </td>
                                        <td align="left" style="line-height:28px;vertical-align: middle;"><span
                                                style="opacity:0.5;">matt@example.com</span></td>
                                        <td><span class="badge badge-pill badge-light">3 Months Ago</span></td>
                                        <td><span class="badge badge-pill badge-light">17 Minutes Ago</span></td>
                                        <td align="center" style="display:inline-block;">
                                            <div class="btn-group btn-group-sm" role="group"
                                                 aria-label="Table row actions">
                                                <a href="user.html" class="btn btn-white">
                                                    <i class="material-icons">search</i>
                                                </a>
                                                <a href="edit-user.html" class="btn btn-white">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button type="button" class="btn btn-white">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="line-height:28px;vertical-align: middle;">
                                            <div style="background:url('https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=afb35d2683e102d67bcd70b87b100723&auto=format&fit=crop&w=800&q=60');background-size:cover;background-position:center;border-radius:20px;height:30px;width:30px;display:inline-block;float:left;margin-right:10px;"></div>
                                            Derrick Smith
                                        </td>
                                        <td align="left" style="line-height:28px;vertical-align: middle;"><span
                                                style="opacity:0.5;">matt@example.com</span></td>
                                        <td><span class="badge badge-pill badge-light">3 Months Ago</span></td>
                                        <td><span class="badge badge-pill badge-light">17 Minutes Ago</span></td>
                                        <td align="center">
                                            <div class="btn-group btn-group-sm" role="group"
                                                 aria-label="Table row actions">
                                                <a href="user.html" class="btn btn-white">
                                                    <i class="material-icons">search</i>
                                                </a>
                                                <a href="edit-user.html" class="btn btn-white">
                                                    <i class="material-icons">edit</i>
                                                </a>
                                                <button type="button" class="btn btn-white">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <nav aria-label="Page navigation example" class="mt-3">
                                                <ul class="pagination justify-content-center">
                                                    <li class="page-item disabled" >
                                                        <a class="page-link" href="#" tabindex="-1" >Previous</a>
                                                    </li>
                                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Default Light Table -->
            </div>

        </main>
    </div>
</div>
<div class="promo-popup animated" style="display:none;">
    <a href="http://bit.ly/shards-dashboard-pro" class="pp-cta extra-action">
        <img src="https://dgc2qnsehk7ta.cloudfront.net/uploads/sd-blog-promo-2.jpg"> </a>
    <div class="pp-intro-bar"> Need More Templates?
        <span class="close">
          <i class="material-icons">close</i>
        </span>
        <span class="up">
          <i class="material-icons">keyboard_arrow_up</i>
        </span>
    </div>
    <div class="pp-inner-content">
        <h2>Shards Dashboard Pro</h2>
        <p>A premium & modern Bootstrap 4 admin dashboard template pack.</p>
        <a class="pp-cta extra-action" href="http://bit.ly/shards-dashboard-pro">Download</a>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<script src="scripts/extras.1.0.0.min.js"></script>
<script src="scripts/shards-dashboards.1.0.0.min.js"></script>
</body>
</html>