@media (min-width: 768px) {
  .navbar-brand {
    position: relative;
    top: 2px;
  }
}

.navbar-brand {
  color:#fff;
}

code {
    background: #fff3f5;
    border-radius: 4px;
}

.card-post__image {
  border-radius: 5px 5px 0px 0px;
  min-height: 200px;
  background-size: 110% !important;
  background-position: center !important;
  opacity: 0.85;
  transition: all 0.2s;
}

.card:hover .dimmed {
  opacity: 1;
}

li:hover .dimmed {
  opacity: 1;
}

li .dimmed {
  transition: all 0.2s;
}

.card:hover .card-post__image {
  opacity: 1;
  background-size: 115% !important;
  transition: all 0.2s;
}

.card-footer {
  background: #fff;
  border-top: none !important;
}

.dimmed {
  opacity: 0.5;
}

#relatedContent {
  border-top: 1px solid #eee;
  background: #eff4ff;
}

.firstSection .firstContentRow {
  margin-bottom: -35px;
}

@media (max-width: 768px) {
  .firstSection .firstContentRow {
    padding: 0px 20px !important;
  }
}

.firstSection .firstContentRow > .contentField {
  margin-top: -105px !important;
  margin-bottom: 60px !important;
  min-width: 100%;
  width: calc(100% - 30px) !important;
  max-width: calc(100% - 30px) !important;
  /*box-shadow:0px -60px 80px rgba(0, 0, 100, 0.2);*/
  box-shadow: 15px -18px 30px -4px rgba(55, 55, 100, 0.05), -15px -18px 30px -4px rgba(55, 55, 100, 0.05);
  padding-top: 20px !important;
  padding-bottom: 25px !important;
  background: linear-gradient(#f9fafc 60%, rgba(255, 255, 255, 0));
  min-height:150px;
  border-radius: 3px 3px 0px 0px;
}

.bg-image {
  background-size: cover !important;
  background-position: center !important;
  border-radius: 3px !important;
  margin: 20px !important;
  background-repeat: no-repeat !important;
  box-shadow: 10px 10px 30px rgba(0, 0, 100, 0.15),
    0px 0px 15px rgba(0, 0, 100, 0.075) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,50,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  opacity: 0.8;
  transition: all 0.2s;
}

.navbar-toggler {
  border-color: transparent !important;
  background: #efefef !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 100, 0.3) !important;
  border-radius: 3px !important;
  transition: all 0.2s;
  margin-right:10px;
  /*border-radius:25px !important;*/
}

.navbar-toggler:hover {
  background: #fff !important;
}

.navbar-toggler:hover .navbar-toggler-icon {
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,50,150, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

#topNavbar .nav-link {
  font-weight: 300 !important;
  opacity: 0.8 !important;
  color: #fff !important;
  text-shadow:0px 2px 3px rgba(0,0,0,0.2);
  transition: all 0.2s;
  border-radius: 25px;
  padding-left:15px;
  padding-right:15px;
}

#topNavbar .nav-item {
  margin-right:5px;
}

#topNavbar .nav-link:hover {
  opacity: 1 !important;
}

.tag-link:hover .badge-dark {
  background: #333 !important;
}

.page-item.disabled {
  cursor: not-allowed !important;
  background: #fff !important;
}

.card .pagination .page-item .page-link {
  background: #eeeeeeee !important;
  border-right: #ddd 1px solid !important;
  min-width: 35px;
}

.pagination .page-item:last-of-type .page-link {
  border-right: none !important;
}

.card .pagination .page-item:first-of-type .page-link,
.card .pagination .page-item:last-of-type .page-link {
  background: #eee !important;
}

.card .page-item.active .page-link,
.page-item.active .page-link {
  background: #3595ff !important;
  border-color: #3595ff !important;
  box-shadow: none !important;
}

.page-meta a {
  color: #000 !important;
}

.page-meta {
  border: none !important;
}

@media (min-width: 768px) {
  .page-meta-container {
    min-width: 150px;
  }
}

.page-link {
  background: #fff !important;
}

@media (min-width: 768px) {
  .hiddenOnDesktop {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .hiddenOnMobile {
    display: none !important;
  }
}

.raised {
  box-shadow:0px 10px 20px -5px rgba(0,0,150,0.1) !important;
}

.border-radius-0,
.br-0 {
  border-radius: 0px !important;
}

.border-radius-5,
.br-5 {
  border-radius: 5px !important;
}

.border-radius-5-right,
.br-5-right {
  border-radius: 0px 5px 5px 0px !important;
}

.border-radius-10,
.br-10 {
  border-radius: 10px !important;
}

.dimmed {
  opacity: 0.5;
  transition: all 0.25s;
}

.dimmed:hover {
  opacity: 1;
}

.invisible {
  opacity: 0;
  transition: all 0.5s;
}

.visible {
  opacity: 1 !important;
  display: block !important;
  transition: all 0.5s;
}

.toggleVisibility {
  display:none;
  opacity:0;
  transition: all 0.5s !important;
}

#contentApp > .row .badge-loading {
  margin-top: 25px !important;
}

#topNavbar {
  height: 73px;
  transition: all 0.2s ease-in-out !important;
  box-shadow: 0px 0px 30px rgba(0, 50, 150, 0);
  background: none !important;
}



#topNavbar.shadowed {
  box-shadow: 0px 0px 30px rgba(0, 0, 110, 0.3);
  transition: all 0.2s ease-in-out !important;
}

#topNavbar.dark {
  background: #161923 !important;
}

#topNavbar.filled {
  background: #222 !important;
}

#topNavbar .nav-item:hover .nav-link {
  background: rgba(0, 0, 0, 0.1) !important;
}

#accountDropdown .dropdown-toggle::after {
  margin-top: 7px !important;
  margin-right: 0px;
  float: right !important;
}

.welcome.minimal {
  height: 73px !important;
  min-height: auto !important;
  background: #fff !important;
}

.message,
.message .navbar {
  width: 100%;
  height: 50px;
  display: block;
  text-align: center !important;
  padding-left: 15px;
  padding-righ: 15px;
}

.message .navbar-dark {
  background: linear-gradient(#222, #111, #000);
  color: #fff;
  border: none !important;
}

.hasMessage #topNavbar {
  margin-top: 50px !important;
}

.card {
  min-height: 350px !important;
  max-height: 80vh !important;
  border-radius: 7px !important;
}

.page-link {
  background: #fff !important;
}

.page-item {
  box-shadow: none;
  border: none !important;
}

.text-shadow {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
    1px 2px 15px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

h1 {
  font-weight: 500 !important;
}





.modal-backdrop.show {
  opacity: 0.6 !important;
  background-color: #000 !important;
}

.no-shadow {
  box-shadow: none !important;
}

.section-invert {
  background: linear-gradient(#e9f0ff 0px, #fff 250px) !important;
  border:none !important;
}

.list-group-item {
  transition: all 0.2s;
  border-color: rgba(0, 90, 255, 0.125);
}

.list-group-item.active {
  background-color: #3a61ff !important;
  color: #000;
  border-color: #bfd5fb !important;
}

.list-group-item:not(.active):hover {
  background: #f2f8ff;
}

.list-group-item:hover i {
  opacity: 1;
  color: #3a61ff;
}

.list-group-item i {
  opacity: 0.5;
  transition: all 0.2s;
}
.list-group-item.active i {
  color: #3a61ff;
  opacity: 1;
}

.card-header {
  font-face: "Open Sans" !important;
  font-weight: 600 !important;
}

td {
  line-height: 28px;
  vertical-align: middle;
}

nav li.page-item {
  box-shadow: none !important;
  border: 1px solid #ddd;
  border-right: 0px;
}

nav li.page-item:last-of-type {
  border-right: 1px solid #ddd;
}

nav li.page-item.active a {
  background: #555 !important;
}

nav li.page-item.active {
  border-color: #555;
}

nav li.page-item:hover a {
  color: #000 !important;
}

nav li.page-item.active:hover a {
  color: #fff !important;
}

.page-item a {
  color: #888;
}

table .badge-pill {
  min-width: 80px;
}

label {
  width: 100%;
  display: block;
}

.formSection {
  border-radius: 4px !important;
}

.formSection .input-group label {
  transition: all 0.25s;
}

.formSection .input-group:hover label {
  color: #444 !important;
  opacity: 1 !important;
}

.formSection .input-group-text {
  background: #5a6169 !important;
  border-left: 3px #333 solid !important;
  color: #fff !important;
}

.modal .input-group-text {
  text-transform: capitalize;
}

.formSection:hover .input-group-text {
  border-left: 3px #000 solid !important;
  background: #000 !important;
  transition: all 0.3s !important;
}

.formSection .card-header {
  border-radius: 4px 4px 0px 0px !important;
  transition: all 0.25s;
  padding: 10px 10px;
  border-color: #c8d3de !important;
  text-transform: capitalize;
  border-bottom: 1px solid #999;
  margin-bottom: 20px !important;
}

.formSection .card-header h6 {
  color: #333 !important;
  font-weight: 600 !important;
  font-size: 0.8125rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 300;
  margin-bottom: 0px !important;
  transition: all 0.25s;
}

.formSection .card-body {
  padding-left: 20px;
  padding-right: 20px;
}

.formEditButton {
  opacity: 0;
}

.formSection .input-group:hover .formEditButton,
#tagsCard:hover .formEditButton,
#contentDetails:hover .formEditButton {
  opacity: 1;
  transition: all 0.25s !important;
}

.formSection .input-group {
  transition: all 0.25s !important;
}

.explicitButtons .formEditButton {
  opacity: 1 !important;
}

.card-header {
  border-radius: 5px 5px 0px 0px !important;
}

.card-text p {
  margin: 0px;
}

.text-truncate div,
.text-truncate p,
.text-truncate h1,
.text-truncate h2,
.text-truncate h3,
.text-truncate h4,
.text-truncate h5,
.text-truncate h6 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.truncate {
  width: calc(66% - 0px) !important;
  white-space: nowrap !important;
  display: inline-block !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  text-align: left;
  float:left;
  color:#000 !important;
}

textarea {
  word-break: break-all !important;
  overflow-wrap: break-word !important;
}

.text-success i,
.text-danger i {
  opacity: 0.5;
}

.text-success i {
  color: #41c076 !important;
}

.btn-disabled {
  opacity: 0.6;
  background: #fff !important;
  color: #333 !important;
  border: 1px solid #333 !important;
  cursor: not-allowed !important;
}

.btn-dimmed {
  opacity: 0.75;
}

.btn-dimmed:hover {
  opacity: 1;
}

.fieldData {
  border-radius: 4px;
  border: 1px solid #efefef;
  transition: all 0.25s;
  width: 100%;
}

.input-group:hover .fieldData {
  border-color: royalblue;
  background: #fafafa;
}

.formSection:hover .card-header {
  border-bottom-color: #c8d3de;
  background: #f8f8ff;
}

.formSection .input-group .badge {
  background: #eaeaea !important;
  border: 1px solid #ffffff !important;
  color: #212529 !important;
}

#contentDetails .badge {
  opacity: 0.5;
  background: #eaeaea !important;
  border: 1px solid #ffffff !important;
  color: #212529 !important;
  transition: all 0.25s;
  margin-top: 5px;
}

#contentDetails:hover .badge {
  opacity: 1;
}

.modal-fluid textarea {
  height: calc(100vh - 250px) !important;
}

.badge-tag {
  background: #444 !important;
  border: 1px solid #444 !important;
  color: #fff !important;
  transition: all 0.25s;
}

.badge-tag span {
  background: #fff;
  color: #333;
  border-radius: 10px;
  padding: 2px 4px 3px 4px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.25s;
}

.badge-tag:hover span {
  background: #fff;
  color: #333;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2), 0px 5px 25px rgba(0, 0, 0, 0.3);
}

.badge-tag:hover {
  color: #eee !important;
  border: 1px solid #a5a5a5 !important;
  background: #a5a5a5 !important;
}

#contentDetails .badge,
#tagsCard .fieldData {
  background: #eaeaea !important;
  border: 1px solid #ffffff !important;
  color: #212529 !important;
  opacity: 0.5;
}

#contentDetails:hover .badge,
#tagsCard:hover .fieldData {
  opacity: 1;
}

.formSection input {
  transition: all 0.25s;
}

.formSection:hover input {
  background: #fafafa !important;
}

.badge-price {
  min-width: 100px;
}

.deleteResource:hover {
  color: red;
  cursor: pointer;
}

.viewResource {
  padding-top: 5px;
}

.viewResource:hover {
  cursor: pointer;
  color: #000;
}

.modal-header .expand {
  top: 16px;
  right: 70px;
  position: absolute;
  opacity: 0.5;
  padding: 10px;
  cursor: pointer;
  -webkit-text-stroke: 1px #888;
}

.modal-header .close {
  top: 4px;
  position: relative;
}

tr:hover .btn-white {
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

tbody tr:hover {
  background: rgba(213, 218, 255, 0.25);
  transition: all 0.5s;
}

tr:hover .dimmed {
  opacity: 1 !important;
}

.btn.btn-white {
  border: 1px solid #ddd !important;
  color: #3d5170;
}

#topNavbar .btn.btn-white {
  border: 1px solid #fff!important;
}

.bg-very-light-blue,
.bg-very-light-blue-when-active.active,
.bg-very-light-blue-when-hovering:hover {
  background-color: #f2f8ff !important;
}

.bg-very-light-blue-alt,
.bg-very-light-blue-alt-when-active.active,
.bg-very-light-blue-alt-when-hovering:hover {
  background: rgba(213, 218, 255, 0.17) !important;
}

.bg-very-light {
  background: #f9f9f9;
}

.pagination {
  display: inline-flex !important;
}

.page-meta-container.right ul li {
  float: right !important;
  position: relative;
  right: 0px;
}

.place-indicator {
  opacity: 0 !important;
}

.active .place-indicator {
  opacity: 0.5 !important;
}

.bg-very-light.border-top {
  border-color: #ddd !important;
}

.basic-addon {
  color: #8aa4bf !important;
  background: #e7edff;
  border: 1px solid #becad6;
}

.basic-addon i {
  color: #6464e1 !important;
}

.full-screen-section {
  min-height: calc(100vh - 133px) !important;
}

.shards-landing-page--1 .welcome:before {
  background: #001165 !important;
}
.shards-landing-page--1 .section-promo {
  z-index:0 !important;
}
.shards-landing-page--1 .section-promo .bg-filter {
  content: "";
  position: inherit;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: auto;
  min-height: 150px;
  z-index: 1;
  background:rgba(0, 26, 101, 0.76) !important;
}

.nav-item.active {
  background: rgba(255, 255, 255, 0.1);
}

.nav-item {
  border-radius: 25px;
}


.shards-landing-page--1 .welcome:before {
  /*background: linear-gradient(30deg, #ff8f4c 10%, #ff4f52 100%) !important;*/
  /*background: linear-gradient(180deg, #333 0%, #222 59%, #111 130%) !important;*/
  /*background:linear-gradient(0deg, #4371eb 0%, #537bea 59%, #588bff 130%) !important;*/
  /*background:linear-gradient(30deg, #efa5c0 10%, #6badff 100%) !important;*/
  /*background:linear-gradient(-30deg, #3950f7 10%, #ba97ff 100%) !important;*/
  background:linear-gradient(235deg, #62d3ff 10%, #7277ff 100%) !important;
  opacity:.9;
}

.shards-landing-page--1 .welcome #description a {
  color: #fff;
  transition:all 0.5s;
}

.shards-landing-page--1 .welcome #description a:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown-item {
  cursor: pointer;
}

input.form-control-translucent{
  background: rgba(0,0,50,0.2);
  box-shadow:0px 0px 30px rgba(0,0,0,0.05) inset;
  border-color:rgba(0,0,0,0);
  transition:all 0.5s;
  color:#fff;
}

input.form-control-translucent:focus{
  color: #333333;
  border-color: transparent !important;
}

input.form-control-translucent:hover{
  border-color: transparent;
}


input.form-control-translucent::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

input.form-control-translucent:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

input.form-control-translucent::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.btn-translucent {
  background: rgba(0,0,0,0.2);
  border: rgba(0,0,0,0.2);
}

.welcome {
  min-height:300px !important;
  background-image: url(/images/abstract.png);
  background-attachment: scroll !important;
  background-size: cover !important;
  background-position: center center !important;
}

@media(max-width:768px){
  .card {
    min-height:auto !important;
  }
}

.popover-menu .dropdown-item{
  border-radius:4px;
}

.btn-no-border {
  border-color:transparent !important;
}

.btn-cta, .btn-cta:active, .btn-cta:focus, .btn-cta:hover {
  background-image: linear-gradient(#ffc57d, #ff5caf) !important;
  background-size:cover !important;
  border: 0px solid #fff !important;
  color: #fff;
  z-index: 888;
  border-radius:25px !important;
  font-weight: 600;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  transform:scale(1.01) !important;
}
.btn-cta:hover {
  transform:scale(1.1) !important;
  border: none !important;
  color: #fff;
}


.btn-purple {
  background:lavender !important;
  color:rebeccapurple !important;
}

.btn-light-blue-outline {
  background: rgba(213, 218, 255, 0.17) !important;
  color: #3b4b99 !important;
  border:1px solid rgba(0,80,95,0.15);
}

.bg-light-green {
  background: #d9fff4 !important;
}

.text-dark-green {
  color: #3bc1a5 !important;
}

.bg-light-blue {
  background-color: #d1e8ff !important;
}

.text-light-blue {
  color:#d1e8ff !important;
}

.bg-dark-blue {
  background: #00178aba !important;
}

.text-dark-blue {
  color: #00178aba !important;
}

.text-dark-pink {
  color: #d23661ba !important;
}

.bg-light-pink {
  background-color: #ffd1d5 !important;
}


@media (min-width: 768px) {
  #contentApp .col-md-4:last-of-type, #contentApp .col-md-4:nth-of-type(4):last-of-type, #contentApp .col-md-4:nth-of-type(7):last-of-type, #contentApp .col-md-4:nth-of-type(10):last-of-type, #contentApp .col-md-4:nth-of-type(13):last-of-type {
    width:100% !important;
    flex: 0 0 calc(100% - 16px) !important;
    max-width: 100% !important;
  }
  #contentApp .col-md-4:nth-child(1), #contentApp .col-md-4:nth-child(2), #contentApp .col-md-4:nth-child(3) {
    width:33% !important;
    flex: 0 0 33% !important;
    max-width: 33% !important;
  }
   #contentApp .col-md-4:nth-of-type(4n), #contentApp .col-md-4:nth-of-type(5n), #contentApp .col-md-4:nth-of-type(11n), #contentApp .col-md-4:nth-of-type(7n):nth-last-of-type(2),#contentApp .col-md-4:nth-of-type(13n),#contentApp .col-md-4:nth-of-type(14n), #contentApp .col-md-4:nth-of-type(8n):last-of-type {
    width:50% !important;
    flex: 0 0 calc(50% - 8px) !important;
    max-width: 50% !important;
  }

  #contentApp .col-md-4:nth-of-type(7n):last-of-type, #contentApp .col-md-4:nth-of-type(6n) {
    width:100% !important;
    flex: 0 0 calc(100% - 16px) !important;
    max-width: 100% !important;
  }
  #contentApp .col-md-4:nth-of-type(7n), #contentApp .col-md-4:nth-of-type(8n), #contentApp .col-md-4:nth-of-type(9n) {
    width:33% !important;
    flex: 0 0 33% !important;
    max-width: 33% !important;
  }

  #contentApp .col-md-4:first-of-type:last-of-type {
    width:100% !important;
    flex: 0 0 100% !important;
    max-width: 1200px !important;
  }

  #contentApp .col-md-4:nth-last-of-type(2):first-of-type, #contentApp .col-md-4:nth-of-type(2):last-of-type {
    width:50% !important;
    flex: 0 0 calc(50% - 8px) !important;
    max-width: 50% !important;
  }
}

.card {
  box-shadow: 0px 50px 150px rgba(0,0,190,0.15),
  0px 10px 25px rgba(0,0,50,0.1) !important;
}

.flat {
  box-shadow:none !important;
}

.raised-1 {
  box-shadow:0px -10px 20px -5px rgba(0,0,150,0.1) !important;
}

.raised-1-down {
  box-shadow:0px 10px 20px -5px rgba(0,0,150,0.1) !important;
}

.raised-2-down {
  box-shadow:0px 15px 30px -5px rgba(0,0,150,0.15), 0px 15px 50px -5px rgba(0,0,150,0.1) !important;
}

@media(min-width:768px) {
  .raised-md-1 {
    box-shadow: 0px -15px 30px -5px rgba(0, 0, 150, 0.15) !important;
  }
}

.bg-none {
  background:none !important;
}

@media(min-width:991px) {
  .raised-lg-1 {
    box-shadow:0px -10px 20px -5px rgba(0,0,150,0.1) !important;
  }
  .raised-lg-2 {
    box-shadow:0px -0px 30px 0px rgba(0,0,150,0.15) !important;
  }
  .bg-none-lg {
    background:none !important;
  }
  .bg-white-lg {
    background:#fff !important;
  }
}

@media screen and (min-width: 481px) and (max-width: 991px) {
  .flat-md {
    box-shadow:none !important;
  }
  .bg-none-md {
    background:none !important;
  }
  .bg-white-md {
    background:#fff !important;
  }
}


  @media(max-width:768px){
  .flat-sm {
    box-shadow:none !important;
  }
  .bg-none-sm {
    background:none !important;
  }
  .bg-white-sm {
    background:#fff !important;
  }
}

.border-white, .btn-white.border-white  {
  border:1px solid #fff !important;
}


#topNavbar.navbar-blend-light-blue {
  background-color:#e9f0ff!important;
  color:#333 !important;
}

#topNavbar.navbar-blend-light-blue li.nav-item a.nav-link, #topNavbar.navbar-blend-light-blue a {
  color:#333 !important;
  text-decoration:none !important;
  text-shadow:none !important;
}

#topNavbar.navbar-dark .navbar-brand:hover {
  color:#fff !important;
}

#topNavbar.navbar-light .btn-outline-white{
  border-color: rgba(93, 104, 171, 0.5) !important;
  color: rgb(93, 104, 171) !important;
}

#topNavbar .btn-white:hover {
  background:#fff !important;
}


#topNavbar.navbar-light .btn-outline-white:hover{
  border-color:#fff !important;
  background-color:#fff !important;
  color:#333  !important;
}

.underlined {
  border-bottom: 2px rgba(69, 118, 255, 0.85) solid;
  display:inline-block !important;
  padding-bottom: 15px !important;
}

.btn-secondary {
  background:#252938;
}


.font-weight-100 {
  font-weight:100 !important;
}
.font-weight-200 {
  font-weight:200 !important;
}
.font-weight-300 {
  font-weight:300 !important;
}
.font-weight-400 {
  font-weight:400 !important;
}
.font-weight-500 {
  font-weight:500 !important;
}
.font-weight-600 {
  font-weight:600 !important;
}
.font-weight-700 {
  font-weight:700 !important;
}
.font-weight-800 {
  font-weight:800 !important;
}
.font-weight-900 {
  font-weight:900 !important;
}