#mobileNav ul a {
  font-size: 150%;
}

@media (min-width: 600px) {
  .hiddenOnDesktop {
    display:none !important;
    opacity: 0 !important;
  }
}

@media (max-width: 600px) {
  .hiddenOnMobile {
    display:none !important;
    opacity: 0 !important;
  }
}

header.light li a {
  background:#fff;
  color:#222;
}

header li:first-of-type a {
  border-radius:2px 0px 0px 2px;
}

header li:last-of-type a {
  border-radius:0px 2px 2px 0px;
}

header li.menuButton a {
  border-radius:50% !important;
  padding:0px;
  height:50px;
  width:50px;
  box-shadow:0px 5px 50px rgba(0,0,0,0.3);
}

header .hiddenOnDesktop {
  position: fixed;
  right: 25px;
}

header nav.hiddenOnMobile {
  box-shadow: 0px 8px 50px rgba(0,0,0,0.1);
}

.button {
  border-radius:2px;
}

.button.ghost {
  color:#44d !important;
  border: 1px solid #44d !important;
}

[class*="bg-gradient-"] a, [class*="bg-gradient-"] .button {
  color:#fff !important;
  background:transparent !important;
  font-weight:bold !important;
}

.text-subtitle p {
  font-size: 133%;
  text-transform:none;
}

input {
  border-radius:3px;
  padding:15px;
}

i.close.icon {
  color: #fff !important; background: #222; padding: 5px; border-radius: 50%;
}

.ui.modal > .close {
  top: -3rem !important;
  right: -0.5rem !important;
}